/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

body {
  background: #001527;
}

.title-header {
  color: #eeeeee;
  text-align: center;
}

.game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.game-container > .progress-display {
  margin-top: 1em;
}

.view-frame {
  width: 600px;
  height: 400px;
  box-shadow: 0 0 1.2em 0.4em #0088ff;
  border-radius: 0.5em;
}

.progress-display {
  vertical-align: top;
  width: 100%;
  display: table;
  border-radius: 0.5rem;
  background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
}

.progress-display > .loop-counter,
.progress-display > .timeline-bar  {
  display: table-cell;
  vertical-align: middle;
}

.progress-display > .timeline-bar {
  padding: 0 0.5em
}

.loop-counter {
  font-size: 1.5rem;
  background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%, #f5f6f6 100%);
  border-right: solid thick #b8bac6;
  border-radius: 0.5rem 0 0 0.5rem;
  width: 5.2em;
  padding: 0.1em 0.3em 0.1em 0.1em;
}

.loop-counter > .blinkers {
  float: left;
  width: 1em;
  height: 100%;
  pointer-events: none;
  background-position: center;
  background-image: url('../img/blinkers.svg');
  background-repeat: no-repeat;
}

.loop-counter > .digit {
  font-weight: bold;
  background: linear-gradient(to bottom, lightGrey 0%, white 40%, white 60%, lightGrey 100%);
  border: solid thin #888;
  text-align: center;
  width: 1em;
  float: left;
}

.loop-counter > .digit:nth-child(2) {
  border-radius: 0.3em 0 0 0.3em;
}

.loop-counter > .digit:last-child {
  border-radius: 0 0.3em 0.3em 0;
}

.loop-counter > .digit + .digit {
  /*margin-left: 0.2em;*/
  border-left-style: none;
}

.timeline-bar{
  /*height: 1.7em;*/
}

.timeline-bar > .timeline{
  height: 1.7em;
  position: relative;
}

.timeline > .canvas {
  position: absolute;
  display: block;
  margin: 0 auto;
}

.timeline > #tb-display {
  z-index: 15;
  box-shadow: inset 0 0 1em black;
}

.timeline > #tb-hits {
  z-index: 10;
}

.timeline > #tb-progress {
  z-index: 5;
  background: #eee;
}

#bottom-gradient {
  position: absolute;
  bottom: 0%;
  height: 10%;
  width: 100%;
  background: linear-gradient(to bottom, #001527 0%, #002244 60%, #003366 100%);
  pointer-events: none;
  z-index: -1000;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
